@import "../../styles/variable";


.collapse {

    article {
        height: auto;
    }

    p {
        color: $colorBlack;
        max-width: 100%;
        font-weight: 400;
        margin: 0;
        height: auto;
    }
}