@import "./variable";

* {
    font-family: $globalFont;
}

body {
    padding: 45px 0 0 0;
    margin: auto;
    width: 100%;

    main {
        display: flex;
        flex-direction: column;
        max-width: 1240px;
        width: 100%;
        margin: auto;
        padding: 0 20px;
    }
}