.home-page {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .main-home-page {
        display: flex;
        flex-direction: column;
        gap: 43px;
        max-width: 1240px;
        width: 100%;
        margin: auto;
        padding: 0 20px;

        section {
            background-color: #F6F6F6;
            border-radius: 25px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 50px;
            padding: 56px 50px;
    
            @media (max-width: 1024px) {
    
                grid-template-columns: repeat(2, 1fr);
            }
    
            @media (max-width: 768px) {
    
                grid-template-columns: 1fr;
    
            }
    
            .link {
                text-decoration: none;
            }
        }
    }
}