
section {
    background-color: #F6F6F6;
    border-radius: 25px;
    margin: 43px auto 50px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 56px 50px;
    grid-gap: 50px;

    .link {
       text-decoration: none; 
    }
}

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    section {
        grid-template-columns: repeat(2, 1fr);
    }

}

/* Little devices (mobile, less/equal than 768px) */
@media (max-width: 768px) {

    section {
        grid-template-columns: 1fr;
    }

}