@import "../../styles/variable";

.kasa-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1240px;
    margin: auto;
    width: 100%;
    padding: 0 20px;

    .logo {
        width: 210px;
        height: 68px;

        @media (max-width: 768px) {
            width: 145px;
            height: 47px;
        }
    }

    nav {
        display: flex;
        column-gap: 57px;
        margin: auto 0px auto 0px;

        .link {
            color: black;
            font-size: 24px;
            font-Weight: 500;

            &.styleSelected {
                text-decoration: none;
            }

            &.styleUnselected {
                text-decoration: underline;
            }

            @media (max-width: 768px) {
                font-size: 12px;
                text-transform: uppercase;
            }
        }

        @media (max-width: 768px) {
            column-gap: 26px;
        }
    }
}