@import "../../styles/variable";

.kasa-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 45px auto 50px auto;
    height: 68px;
    max-width: 1280px;
    padding: 20px;

    nav {
        display: flex;
        column-gap: 57px;
        margin: auto 0px auto 0px;
        
        a {
            color: $colorBlack;
            text-decoration: none;
            font-size: 24px;
            font-weight: 500;
        }
    }
}