@import "../../styles/variable";

.global-error-page {
    height: 100%;

    .error-page {
        display: flex;
        flex-direction: column;
        gap: 140px;
        max-width: 1240px;
        margin: auto;
        min-height: calc(100% - 209px);

        .main-page-error {
            align-items: center;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0 0 50px 0;
            gap: 140px;

            h1 {
                font-size: 288px;
                color: $colorRed;
                margin: auto;
                text-align: center;

                @media (max-width: 768px){
                    font-size: 96px;
                }
            }

            p {
                color: $colorRed;
                font-size: 36px;
                text-align: center;
                margin: auto;

                @media (max-width: 768px){
                    font-size: 18px;
                }
            }

            .link-error-page {
                color: $colorBlack;
                font-weight: 500;
                font-size: 18px;

                @media (max-width: 768px){
                    font-size: 14px;
                }
            }
        }
    }
}